header{
    padding: 1.5%;
    background-color: #2727f1;
    text-align: center;
}
i#burger{
    background-color: transparent;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
i#burger:hover{
    background-color: #f71919;
    color: rgb(190, 190, 190);
}
/*.button{
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}*/

@media screen and (max-width: 768px){
    .button{
        display: none;
    }

    .menu_nav{
        position: relative;
        flex-direction: column;
        top: 0;
        background-color: #f71919;
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
}
@keyframes showNavbar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}

@keyframes closeNavbar {
    from {margin-left: -10vw;}
    to {margin-left: -100vw;}
}