main{
    padding: 1%;
    margin: 0;
    min-width: 500px;
    max-width: 2000px;
}
.tipo_pag ul{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tipo_pag{
    list-style: none;
    padding: 10px;
    margin-left: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;  
}
.text{
    text-align: center;
}
main ul p{
    font-weight: 500;
}
/*main ul img{
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}*/